<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.project.dao.ProjectDao">

    <select id="query" resultType="net.lab1024.sa.admin.module.business.project.domain.vo.ProjectVO">
        SELECT * FROM b_project
        <where>
            <if test="query.searchWord != null and query.searchWord != ''">
                AND (INSTR(project_no, #{query.searchWord}) OR INSTR(project_name, #{query.searchWord}) OR INSTR(manager_name, #{query.searchWord}))
            </if>
            <if test="query.projectNo != null and query.projectNo != ''">
                AND INSTR(project_no, #{query.projectNo})
            </if>
            <if test="query.projectName != null and query.projectName != ''">
                AND INSTR(project_name, #{query.projectName})
            </if>
            <if test="query.projectType != null">
                AND project_type = #{query.projectType}
            </if>
            <if test="query.projectStatus != null">
                AND project_status = #{query.projectStatus}
            </if>
            <if test="query.managerName != null and query.managerName != ''">
                AND INSTR(manager_name, #{query.managerName})
            </if>
            <if test="query.startDateBegin != null">
                AND start_date &gt;= #{query.startDateBegin}
            </if>
            <if test="query.startDateEnd != null">
                AND start_date &lt;= #{query.startDateEnd}
            </if>
            <if test="query.deletedFlag != null">
                AND deleted_flag = #{query.deletedFlag}
            </if>
        </where>
        <if test="query.sortItemList == null or query.sortItemList.size == 0">
            ORDER BY project_id DESC
        </if>
    </select>

    <select id="selectByProjectNo" resultType="net.lab1024.sa.admin.module.business.project.domain.entity.ProjectEntity">
        SELECT * FROM b_project
        WHERE project_no = #{projectNo}
        LIMIT 1
    </select>

    <select id="queryAll" resultType="net.lab1024.sa.admin.module.business.project.domain.vo.ProjectVO">
        SELECT * FROM b_project
        WHERE deleted_flag = #{deletedFlag}
        ORDER BY project_id DESC
    </select>

</mapper>
