<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.approval.dao.ApprovalNodeDao">

    <select id="queryByFlowId" resultType="net.lab1024.sa.admin.module.business.approval.domain.entity.ApprovalNodeEntity">
        SELECT * FROM b_approval_node
        WHERE approval_flow_id = #{approvalFlowId}
        ORDER BY node_order ASC, approval_node_id ASC
    </select>

    <delete id="deleteByFlowId">
        DELETE FROM b_approval_node
        WHERE approval_flow_id = #{approvalFlowId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO b_approval_node (approval_flow_id, node_name, node_code, node_order, approver_type, approver_ids, approver_names, role_id, remark)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.approvalFlowId}, #{item.nodeName}, #{item.nodeCode}, #{item.nodeOrder}, #{item.approverType}, #{item.approverIds}, #{item.approverNames}, #{item.roleId}, #{item.remark})
        </foreach>
    </insert>

</mapper>
